# Скопируйте в .env и при необходимости поменяйте. Только для локальной разработки.
POSTGRES_USER=dd
POSTGRES_PASSWORD=dd
POSTGRES_DB=dd
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=dd
RABBITMQ_PASSWORD=dd
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

PROMETHEUS_PORT=9090

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
GRAFANA_PORT=3000
